html,body{
    background-color: grey !important;
}
.body-main{
    background-color: #32314a;
    padding: 32px;
    margin-right: 12px;
    margin-left: 12px;
}
.text-main{
    color: white;
}
.logo{
    width: 100%;
    height: auto;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.Container{
    height:100%;
    width: 100%
}