.forma{

    width: 1100px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin-left: 15px;
}

.botonSubmit{


    background-color: blueviolet;
    width: 200px;
    margin-left: 65px;


}

.tituloTicket{
font-size: 20px;
color: white;
margin-left: 20px;

}






